*

!*/

!aerospace/
!alacritty/
!borders/
!docs/
!karabiner/
!lazygit/
!scripts/
!tmux/
!vscode/
!.gitignore
!README.md
!p10k.zsh
!real_prog_dvorak_layout.keylayout
!vimrc
!zshrc

tmux/plugins/
alacritty/themes/
